/* CSS Document */
* {
padding: 0px;
margin: 0px;
}
body {
font-size: 14px;
text-align: center;
color: #000000;
}
li{
    list-style: none;
}
/*鍒嗛〉*/
#pageGro{ width:850px; height:25px; margin:0px auto; padding-top:30px;}
#pageGro div,#pageGro div ul li{ font-size:12px; color:#999; line-height:23px; float:left; margin-left:5px;}
#pageGro div ul li{ width:22px; text-align:center; border:1px solid #999; cursor:pointer;}
#pageGro div ul li.on{ color:#fff; background:#3c90d9; border:1px solid #3c90d9;}
#pageGro .pageUp,#pageGro .pageDown,#pageGro .pagestart,#pageGro .pageend{ width:63px; border:1px solid #999; cursor:pointer;}
.link-page{ display: inline-block;margin-left: 20px;}
.link-page span{display: inline-block;margin-left: 10px;}
.link-page input{width: 66px;text-align: center;}
.link-page a{display: inline-block;padding: 0 15px;background: #9bbafe;height: 24px;line-height: 24px;color: #fff;border-radius: 5px;font-size: 12px;text-decoration: none;}
.page-total-info{float: right !important; font-size: 0 !important;}
.page-total-info span{display: inline-block;padding: 0 15px;font-size: 12px;height: 24px;line-height: 24px;color: #9abafe;border: 1px solid #9bbafe;background: #fff;box-sizing: border-box;}
.page-total-info span.toggle-num{background: #9abafe;color: #fff;}